{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BloodBank</title>

    <link href="{% static 'adminpanel/css/home.css' %}" rel="stylesheet">
</head>
<body>
<div class="navbar">
    <div class="navimage">
        <img src="{% static 'adminpanel/img/drop.png' %}" alt="drop">
    </div>
<div class="navname">
    <h2>Blood Bank</h2>
</div>
</div>
<div class="form">
    <div class="design">

    </div>
    <div class="login">
        <form id="loginform" action="/login" method="POST">
            {% csrf_token %}
            <input type="email" placeholder="Email" name="email"  required>
            <input type="password" placeholder="Password" style=" margin-top: 2rem;" name="password" required>
            <div class="buttons">
            <button type="submit" name="submit">Submit</button>
            <button>Reset</button>
            </div>
        </form>
    </div>
    <div class="signup">

    </div>

</div>

</body>
</html>