html,body{
    padding: 0;
    margin: 0;
}
.navbar{
    display: flex;
    background-color: DodgerBlue;
}
.navname{
    margin-left: 2rem;
    width: 50%;
}
.navimage img{
    margin-left: 2rem;
    width: 4rem;
    height: 4rem;
}
.form{
    display: flex;
    padding-top: 2rem;
    flex-direction: column;
    margin: auto;
}
.design{
    background-color: cadetblue;
    width: 20rem;
    margin: auto;
    height: 2.5rem;
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    padding-top: .5rem;
    text-align: center;
    color: white;
    font-size: 1.2rem;
}
.login{
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: auto;
    border: 1px solid #C6C5C7;
    width: auto;
}
 .input{
    margin: auto;
    width: 15rem;
    height: 1.8rem;
    font-size: 1.2rem;
    padding-left: 2px;
    display: block;
     margin-top: 2rem;
     
}
.input:focus{
    outline: none;
    border: 1px solid #C8C1BE;
    background-color: #E0DBD9;
    box-shadow: .25rem .25rem .25rem .1rem #C8C1BE;
}
 .buttons{
    width: 15rem;
    margin: auto;
    margin-top: 2rem;
}
.buttons button{
    width: 48%;
    height: 2rem;
    color: rgb(243, 240, 235);
    background-color : #C292E2;
    border: none;
    cursor: pointer;
}
.signup{
    margin: auto;
    padding-bottom: 1rem;
    border: 1px solid #C6C5C7;
    display: none;
}

.navbutton{
    position: absolute; 
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    flex: 1;
    margin-right: 4rem;
    padding-top: 1.2rem;
    width: inherit;
    
}
.navbutton button{
    display:block;
    width: 8rem;
    height: 1.8rem;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #79aee2;
    color: white;
}
p > a{
    cursor: pointer;
    color: blue;
}
#map {
    height: 40rem;
    width: 37rem;
    margin: auto;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }

  select {
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-color: #BCCEF7; /* Fallback color if gradients are not supported */
    background-image: -webkit-linear-gradient(top, #E5E5E5, #F4F4F4);
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: #555;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
option{
    cursor: pointer;
}