html,body{
    padding: 0;
    margin: 0;
}
.nav_bar{
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to right,#F89393,#E0D8D8);
}
.navimage{
    display: flex;
    justify-content: flex-start;
    width: 33%;
}
.navname{
    display: flex;
    justify-content: center;
    padding-top: .3rem;
    width: 33%;
}
.navname h2{
    font-weight: bold;
}
.navbutton{
    display: flex;
    justify-content: flex-end;
    width: 33%;
    padding-top: .8rem;
}

.navimage img{
  width: 4rem;
  height: 4rem;
  margin-left: 2rem;
}
.form{
    display: flex;
    padding-top: 2rem;
    flex-direction: column;
    margin: auto;
}
.design{
    width:37.2rem ;
    height: 3.5rem;
    margin: auto;
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    background-color:#F38A8A ;
    text-align: center;

}
.login{
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: auto;
    border: 1px solid #C6C5C7;
    width: 37rem;
}
 .input{
    margin: auto;
    width: 20rem;
    height: 1.8rem;
    font-size: 1rem;
    padding-left: 2px;
    display: block;
    margin-top: 1.8rem;
    border: none;
    border-bottom: 1px solid #a09e9e;
     
}
.input:focus{
    outline: none;
    border-bottom: 2px solid #F38A8A;
    background-color: #FDEAE5;
}
input[type='password']{
    margin: auto;
    width: 20rem;
    height: 1.8rem;
    font-size: 1rem;
    padding-left: 2px;
    display: block;
    margin-top: 2rem;
    border: none;
    border-bottom: none;
}
input[type='password']:focus{
    border-bottom: 0px solid #F38A8A;
}
.eye{
    background-color: #FDEAE5;
    padding-top: .85rem;
    cursor: pointer;
}
.eye_btn{
    display: none;
    background-color: #FDEAE5;
    outline: none;
    border: none;
    padding: none;
    margin: none;
}
.see_pass{
    display: flex;
    margin: auto;
    align-items: flex-end;
    justify-content: start;
    border-bottom:1px solid #a09e9e;;
    width: 20rem;
}

.see_pass:focus-within{
    border-bottom: 2px solid #F38A8A;
}
 
.select_div{
    margin: auto;
    width: 20rem;
}
.signup{
    margin: auto;
    padding-bottom: 1rem;
    border: 1px solid #C6C5C7;
    display: none;
    width: 37rem;
}
p{
    margin: auto;
    text-align: center;
}

p > a{
    cursor: pointer;
    color: blue !important;
}
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }

  select {
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-color: #BCCEF7; /* Fallback color if gradients are not supported */
    background-image: -webkit-linear-gradient(top, #E5E5E5, #F4F4F4);
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: #555;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
option{
    cursor: pointer;
}
#required_msg{
    margin-top: 1rem;
    display: none;
    font-size: small;
    color: red;
    text-align: center;
}
#mismatch{
    font-size: small;
    display: none;
    color: red;
}
.button_div{
   display: flex;
   justify-content: space-around;
   margin: auto;
   margin-top: 2rem;
   padding-bottom: 1.2rem;
   width: 80%;
}
.button_div button{
    display: block;
    float: right;
    height: 2rem;
    width: 5rem;
    color: wheat;
    background-color: #F38A8A;
}
.button_div:first-child{
    float: left;
}
.button{
    cursor: pointer;
    background-color: #F38A8A !important;
    color: white !important;
    width: 8rem !important;
    height: 2rem;
    font-size: 1.2rem;
    border-radius: 1rem;
}
button:active,button:focus{
    outline: none;
    /* border: none;
    box-shadow: none; */
}
