{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BloodBank</title>
   
    <link href="{% static 'adminpanel/css/home.css' %}" rel="stylesheet">
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    </script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.js"></script>
<!-- .for axios -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
    <script src="{% static 'adminpanel/js/home.js' %}"></script>
</head>
<body>
<div class="nav_bar">
    <div class="navimage">
        <img src="{% static 'adminpanel/img/drop.png' %}" alt="drop">
    </div>
<div class="navname">
    <h2>Blood Bank</h2>
</div>
<div class="navbutton">
    <button onclick="change()" class="button" style="margin-right: 2rem;">Register</button>
</div>

</div>
<div class="form">
    <div class="design">
        <h2>Login</h2>
    </div>
    <div class="login">
        <form action="login" method="POST">
            {% csrf_token %} 
       <input type="email" name="email" class="input" placeholder="EMAIL" required><br>
       <div class="see_pass">
        <input type="password" name="password" id="login_pass" class="input" placeholder="PASSWORD" style="display: inline;" required>
       <button class="eye_btn" id="eye_btn-2"><i class="fas fa-eye eye"  ></i></button>
        </div>
       <div class="button_div">
        <button type="submit" id="submit_login" class="button">Submit</button>
        <button type="reset" class="button">Reset</button>
      </div>
       </form>
        <p style="text-align:center;">Not Registered ? <a onclick="change()">Register</a></p>  
    </div>
    <div class="signup">
        <form action="register/create" method="POST" id="register">
            {% csrf_token %}
        <input type="text" name="name" placeholder="NAME" class="input" required><br>
        <input  type="email" name="email" placeholder="EMAIL" class="input" required><br>
        <!-- <input type="password" name="password" id="pass" placeholder="PASSWORD" class="input" required><br> -->
        <div class="see_pass">
            <input type="password" name="password" id="pass" class="input" placeholder="PASSWORD" style="display: inline;" required>
           <button class="eye_btn" id="eye_btn"><i class="fas fa-eye eye" ></i></button>
            </div>
        <!-- <input type="password" name="password" id="conpass" placeholder="CONFIRM PASSWORD" class="input" required><br> -->
        <div class="see_pass">
            <input type="password" class="input" id="conpass" placeholder="CONFIRM PASSWORD" style="display: inline;" required>
            </div>
        <P id="mismatch">Mismatch passwords</P>
        <input type="address" name="address" id="address" placeholder="FULL ADDRESS" class="input" required><br>
        <input type="number" name="pincode" placeholder="PINCODE" id="pincode" class="input" required><br>

        <div class="select_div">
        <select id="selectState" onchange="selectcity()" name="state" required>
            <option disabled selected>Select State</option> 
        </select><br>
        <select id="selectCity" name="city" style="margin-top: 1.4rem;" required>
            <option disabled selected>Select City</option>
        </select>
        </div>
        <p id="required_msg">State and City Required</p>

        <div style="display: none;">
            <input type="text" id="lat" value="" name="latitude">
            <br>
            <input type="text" id="lng" value="" name="longitude">
        </div>

      <div class="button_div">
        <button type="submit" id="submit" class="button">Submit</button>
        <button type="reset" class="button">Reset</button>
      </div>

        </form>
       
        <p style="text-align: center;">Already Registered ? <a onclick="change()">Login</a></p>
    </div>
</div>
<div style="height: 1.3rem; width: 100%;">

</div>

<!--geocode start-->
<script>
var arr = ['Andhra Pradesh',
'Arunachal Pradesh',
'Assam',
'Bihar',
'Chhattisgarh',
'Goa',
'Gujarat',
'Haryana',
'Himachal Pradesh',
'Jammu and Kashmir',
'Jharkhand',
'Karnataka',
'Kerala',
'Madhya Pradesh',
'Maharashtra',
'Manipur',
'Meghalaya',
'Mizoram',
'Nagaland',
'Odisha',
'Punjab',
'Rajasthan',
'Sikkim',
'Tamil Nadu',
'Telangana',
'Tripura',
'Uttarakhand',
'Uttar Pradesh',
'West Bengal',
'Andaman and Nicobar Islands',
'Chandigarh',
'Dadra and Nagar Haveli',
'Daman and Diu',
'Delhi',
'Lakshadweep',
'Puducherry'];
for(var i=0 ;i<arr.length;i++){
    var str = "<option value='"+(i+3)+"' >"+arr[i]+"</option>"
    $("#selectState").append(str);
}
function selectcity(){
   var stateName = $( "#selectState option:selected" ).text();
    $.ajax({
        url : 'https://indian-cities-api-nocbegfhqg.now.sh/cities',
        data : {State: stateName},
        success : function(cities){
            $("#selectCity").empty()
            $("#selectCity").append("<option disabled selected>Select City</option>")
            if(cities.length == 0){
               var str =  $("#selectState option:selected").text()
                $("#selectCity").append("<option>"+str+"</option>")
            }
            else{
            for(var i=0;i<cities.length;i++){
                var temp = cities[i].City
                var str = "<option value='"+temp+"' >"+temp+"</option>"
                $("#selectCity").append(str)
            }
            }
        }
    })

}

$("#address").focusout(function(){
   var location = $("#address").val()
    get_address_coord(location)
})

    
function get_address_coord(location){
    axios.get("https://maps.googleapis.com/maps/api/geocode/json",{
                params:{
                    address : location,
                    key : 'AIzaSyBVHC0B-6mFNuMk0lBnOmc-JIJojPxKc2Q'
                }
            }).then(function(response){
                var lati = response.data.results[0].geometry.location.lat;
                var lngi = response.data.results[0].geometry.location.lng;
                console.log(lati,lngi)
                $("#lat").val(lati)
                $("#lng").val(lngi)
            }).catch(function(error){
                alert("Catch")
                console.log(error+" address not found")
            })
}


$("#register").submit(function(event){
    if(!(confirmPass() && confirmAdd() && confirmLoc())){
        event.preventDefault();
    }
    else{
        return true;
    }
})

function confirmPass(){
        var password = $("#pass").val();
        var confirm_password = $("#conpass").val();
        if(password != confirm_password) {
            $("#mismatch").css({'display':'block'})
            return false;
        }
        else{
            $("#mismatch").css({'display':'none'})
            return true;
        }
}


function confirmAdd(){
    var state_selected = $("#selectState option:selected").text();
    var city_select = $("#selectCity option:selected").text();
    if(state_selected == "Select State" || city_select == "Select City"){
        $("#required_msg").css({'display':'block'})
        return false;
    }
    else{
        $("#required_msg").css({'display':'none'})
        return true;
    }
}

function confirmLoc(){
    var lat = $("#lat").val()
    var lng = $("#lng").val()
    if(lat == "" && lng == ""){
        return false;
    }
    else{
        return true;
    }
}
$("#pass , #conpass").keyup(function(){
    if($("#pass").val() != "" || $("#conpass").val() != ""){
        $("#eye_btn").css({'display':'inline-block'})
    }
    else{
        $("#eye_btn").css({'display':'none'})
    }
})

$("#eye_btn").click(function(event){
    event.preventDefault();
    if($("#pass , #conpass").attr("type") == "password"){
    $("#pass , #conpass").attr("type","text")
    $("#pass,#conpass").css({'border':'none'})
    }
    else{
        $("#pass , #conpass").attr("type","password") 
    }
})

$("#login_pass").keyup(function(){
    if($("#login_pass").val() != "" ){
        $("#eye_btn-2").css({'display':'inline-block'})
    }
    else{
        $("#eye_btn-2").css({'display':'none'})
    }
})
$("#eye_btn-2").click(function(event){
    event.preventDefault();
    if($("#login_pass").attr("type") == "password"){
    $("#login_pass").attr("type","text")
    $("#login_pass").css({'border':'none'})
    }
    else{
        $("#login_pass").attr("type","password") 
    }

})

</script>

<!--===============================================================================================-->



</body>
</html>
